<!doctype html>
<head></head>
<body>
<div id="screen-resolution-helper">
<!--#######################	TOP	###########################-->

<div id="toolbar">
	<div id="styled-choice-links">
		<a href="#" class="tabs-ppl" title="People">People</a><br />
		<a href="#" class="tabs-cmp" title="Companies">Companies</a><br />
		<a href="#" class="tabs-org" title="Organisations">Organisations</a>
		<input class="button" type="button" rel="people_sub" id="people_sub" value="t" />
		<input class="button" type="button" rel="test" id="" value="t" />
	</div><!--/#styled-choice-links -->
</div><!-- /#toolbar -->
<div id="dash">
	<div id="input">
		<input name="search" value="" id="search" type="text" />
		<div id="choice-tabs">
			<ul id="choice-list">
				<li><a href="#tabs-ppl"></a></li>
				<li><a href="#tabs-cmp"></a></li>
				<li><a href="#tabs-org"></a></li>
			</ul><!--/#choice-list -->
			<div id="tabs-menu-wrapper">
				<div id="tabs-ppl"></div>
				<div id="tabs-cmp"></div>
				<div id="tabs-org"></div>
			</div><!--/#tabs-menu-wrapper -->
		</div><!--/#choice-tabs -->
	</div><!--/#input -->
	<div id="actions">
		<span class="staff">
		<p>Staff Based Context Menu</p>
		<span>New Staff level</span>
		<select></select>
		<input type="text" />
		</span>
		<span class="people">
		<p>Person Based Context Menu</p>
		<span>New Person</span>
		<select></select>
		<input type="text" />
		</span>
		<span class="funding">
		<p>Funding Based Context Menu</p>
		<span>New Funding Information</span>
		<input type="text" />
		<select></select>
		</span>
		<span class="location">
		<p>Location Based Context Menu</p>
		<span>New Location</span>
		<input type="text" />
		<select></select>
		</span>
		<span class="products">
		<p>Product Based Context Menu</p>
		<span>New Product</span>
		<input type="text" />
		<select></select>
		</span>
	</div><!--/#actions -->
</div><!--/#dash -->

<!--#######################	MID	###########################-->

<div id="display">
	<div id="view">
		<div class="accordion">
			<div id="accordion-wrapper">
				<h3>
					<a href="#">Company</a>
					<button rel="staff">staff</button>
					<button rel="people">people</button>
					<button rel="funding">funding</button>
					<button rel="location">location</button>
					<button rel="products">products</button>
				</h3>
				<div id="company-1" style="display:none;">
					<ul class="hidden">
						<li><a href="#staff"></a></li>
						<li><a href="#people"></a></li>
						<li><a href="#funding"></a></li>
						<li><a href="#location"></a></li>
						<li><a href="#products"></a></li>
					</ul>
					<div id="staff"></div>
					<div id="people"></div>
					<div id="funding"></div>
					<div id="location"></div>
					<div id="products"></div>
				</div><!-- /#company-1 -->
				<% @companies.each do |company| %>
					<h3>
						<a href="#"><%= company.name %></a>
						<button rel="staff">staff</button>
						<button rel="people">people</button>
						<button rel="funding">funding</button>
						<button rel="location">location</button>
						<button rel="products">products</button>
					</h3>
					<div id="company-1">
						<ul class="hidden">
							<li><a href="#staff"></a></li>
							<li><a href="#people"></a></li>
							<li><a href="#funding"></a></li>
							<li><a href="#location"></a></li>
							<li><a href="#products"></a></li>
						</ul>
						<div id="staff">
							<p>
								<% @staff_levels.each do |staff_levels| %>
									<span>Staff Levels</span><%= staff_levels.number_of_employees %>
								<% end %>
							</p>
						</div><!-- /#staff -->
						<div id="people"></div>
						<div id="funding"></div>
						<div id="location"></div>
						<div id="products"></div>
					</div>
				<% end %>
			</div><!-- /#accoridion-wrapper -->
		</div><!--/.accordian -->
	</div><!--/#view -->
</div><!-- /#display -->

<!--######################  HIDDEN	########################-->

<span id="hidden-interface-elements" class="hidden">
	<input type="hidden" id="info" name="info" />
	<input class="button" type="button" id="__sub" value="" />
	
</span>

</div><!-- /#screen-resolution-helper -->

</body>
</html>