<div id="edit">
<%=@folder.title%>
</div>

<%= link_to "add topic", new_folder_topic_path(@folder, :format => :js), :remote => true, :id => 'new_topic' %>
<div id ="topic">
<%= @folder.topics%>
<%= link_to 'New Topic', new_folder_topic_path %>	
