
fieldset { border:none; width:98%;}
legend { font-size:18px; margin:0px; padding:10px 0px; font-weight:bold;}
label { display:block; margin:15px 0 5px;}
fieldset > input[type=text], fieldset > input[type=password], #new-company-add-record > input { width:95%; padding:5px; border:solid 1px #000;}
.prev, .next, #input-new-company-form-button { background-color:lightgray; padding:5px 10px; color:#fff; text-decoration:none;}
.prev:hover, .next:hover { background-color:#000; font-color:white; text-decoration:none;}
.prev { float:left;}
.next, #input-new-company-form-button { float:right;}
#steps { list-style:none; width:100%; overflow:hidden; margin:0px; padding:0px;}
#steps li {font-size:15px; float:left; padding:10px; color:#b0b1b3;}
#steps li span {font-size:11px; display:block;}
#steps li.current { color:#000;}
#makeWizard { background-color:#b0232a; color:#fff; padding:5px 10px; text-decoration:none; font-size:18px;}
#makeWizard:hover { background-color:#000;}
#input-new-company-dialog { height:auto; width:auto; }

