
.accordion > div > h3 > button {

	position:relative;
	left:200px;
	top:3px;

}
.accordion > div > h3 {

	height:33px;

}

.left   {float:left;}
.right  {float:right;}
.hidden {display:none;}
.active {background-color:yellow;}
*       {font-size:11px;list-style:none;}

.accordion {position:relative; top:130px; z-index:0;}
.accordion > div > div { height:300px; }

.accordion-sub-menu {

	height:25px;
	width:320px;
	border:1px solid black;
	position:relative;
	bottom:-240px;
	left:35px;

}

#actions {
	position:relative;
	top:-125px;
	left:3px;
	border-left:1px solid #D2D2D2;
}
#actions > * {
	margin:25px;
}
.chart-holder {
	height:235px;
	width:700px;
	border:1px solid black;
	position:relative;
	top:20px;
	background-repeat:no-repeat;
}
.companies-sub-menu {
	height:25px;
	width:100%;
	border:1px solid black;
}
#choice-tabs {
	height:97px;
	width:100%;
	border:none;
	border-top:1px solid #D2D2D2;
	background:none;
}
#choice-list {
	display:none;
}
#display {
	height:100%;
	width:100%;
	z-index:0;
}
#dash {
	position:fixed;
	float:right;
	left:75px;
	clear:both;
	z-index:2;
	background:white;
	width:92%;
	height:125px;
	border:1px solid #D2D2D2;
	border-top:1px solid #D2D2D2;
}
#input, #actions {
	height:125px;
	width:49.8%;
}
#search { width:100%; }
#screen-resolution-helper { height:500px; width:auto; position:relative; top:1px; margin: 1px;}

#toolbar { 
	height:125px; 
	width:5%;
	float:left;
	position:fixed;
	z-index:1;
	background-color:white;
}
#toolbar > div > * { margin:.25em; }
#view {
    width:100%;
    height:auto;
    border:1px solid black;
	min-height:300px;
    position:relative;
	border:none;
}
.companies-prd, .companies-rel, .companies-off, .companies-fnd,
.people-relationships, .people-investments, .people-overview {
	height:auto;
	max-height:215px;
	width:300px;
	border:1px solid black;
	padding:10px;
	overflow:hidden;
	overflow-y:scroll;
	float:left;
	margin:1em;
	position:relative;
	top:-33px;
	left:24px;
}
.staff{ border:1px solid black; width:100%; height:200px;}
#top, #middle, #bottom {
	height:400px
	width:100%;
}