<script>
$(function(){
$("#notification_next_notification").datepicker({ dateFormat: 'dd-mm-yy' });
  });</script>
<%= form_for([@research, @folder, @topic, @notification],  :remote => true ) do |f| %>

	<div class="date", id ="date" >
	<%= f.label :set_next_notification %><br />
	<%= f.text_field :next_notification %>
	</div>
 
	<div class="actions">
		<%= f.submit 'Notify' %>
	</div>



<%end%>
