<%= form_for([@folder, @topic, @notification],  :remote => true ) do |f| %>

	<div class="field", id ="date" >
	<%= f.label :set_Next_notification %><br />
	<%= f.text_field :next_notification %>
	</div>
 
	<div class="actions">
		<%= f.submit 'Notify' %>
	</div>



<%end%>
