<h1>Funds#edit</h1>

<%= render 'form' %>

<%= link_to 'Show', company_funding_round_path(@company, @fund) %> |
<%= link_to 'Back', company_funding_rounds_path(@company) %>


<p>Find me in app/views/funds/edit.html.erb</p>
