<h1>staff_levels#edit</h1>


<%= render 'form' %>

<%= link_to 'Show', company_staff_level_path(@company, @staff_level) %> |
<%= link_to 'Back', company_staff_levels_path(@company) %>

<p>Find me in app/views/staff_levels/edit.html.erb</p>
