<h1>Stlevels#edit</h1>


<%= render 'form' %>

<%= link_to 'Show', company_stlevel_path(@company, @stlevel) %> |
<%= link_to 'Back', company_stlevels_path(@company) %>

<p>Find me in app/views/stlevels/edit.html.erb</p>
