<h1>staff_levels#show</h1>


<p>
	<b>staff_level details:</b>
	$<%= @staff_level.staff_number %> 
	<br /><b>Date:</b>

	<%= @staff_level.date_of_record%>
</p>

<%= link_to 'Edit', edit_company_staff_level_path(@company, @staff_level) %> |
<%= link_to 'Back', company_staff_levels_path(@company) %>
<p>Find me in app/views/staff_levels/show.html.erb</p>
