<!DOCTYPE html>
<html>
<head>
<title>Knowman</title>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<%= javascript_include_tag :all, :cache => true %>
<%= stylesheet_link_tag :all, :cache => true %>
</head>
<body>
	<div id="inside"> 
		<div id="main"> 
		<div id="header"> 
			<div id="mainmenu">
					<div id="menus">
						<% if user_signed_in? %>
						<span style="position:relative; top:-15px;">Welcome <%=link_to current_user.firstName  +  current_user.lastName, edit_user_registration_path%></span> 
						<%end %>
						<a href="/folders" class="menu research" title="research"></a>
						<a href="/dashboard" class="menu information" title="information"></a>
						<a href="/companies" class="menu company" title="charts"></a>
					</div>
				</div><!-- /#mainmenu -->
		</div> 
		<br></br>
		<div id="content">   
		<%= yield %>  
		</div><!-- close div content -->  
		</div><!-- close div main --> 
		<div class="clear"></div> 
	</div><!-- close div inside -->  
<!--	 yield    -->
</body>
</html>
