<!DOCTYPE html>
<html>
<head>
<title>Knowman</title>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<%= javascript_include_tag :all %>
<%= stylesheet_link_tag :all %>
</head>
<body>
	<div id="inside"> 
		<div id="main"> 
				<div id="header"> 
					<div id="mainmenu">
						<span id="mainmenu-button-holder" class="">
							<a href="/folders" title="research">      R	</a>
							<a href="/companies" title="charts">      C	</a>
							<a href="/dashboard" title="information"> I	</a>
						</span>
					</div><!-- close div mainmenu -->
					
					<% if user_signed_in? %>
					<%= "Welcome "%><%=link_to current_user.firstName+current_user.lastName, edit_user_registration_path%> 
					<%end %>
				</div><!-- /#header --> 
				
				<div id="content"><%= yield %></div><!-- /#content --> 
				
				<div id="footer"> 
					<div class="left">&copy; Copyright 2011</div> 
					<div class="right">Group E</div> 
					<div class="clear"></div>
				</div><!-- /#footer --> 
				
			</div><!-- /#main --> 
			<div class="clear"></div> 
			
	</div><!-- /#inside -->
</body>
</html>
